<div class="row" style="width: 100%;height: 100vh;">
    <div class="col-1" style="background-color: rgb(255, 255, 255);width: 50%;">
        <div class="card" style="width: 60%;height: 70vh;margin: 18%;border-radius: 50px;">
            <form (ngSubmit)="loginUser()" #loginForm='ngForm'>
                <h2>Login into your Account</h2>
                <br>
                <input type="text" placeholder="Email">
                <br>
                <input type="text" placeholder="Password">
                <br>
                <button type="submit">Login</button>
                <p>Don't have an account?</p>
                <a href="">Register here</a>
            </form>

        </div>

    </div>
    <div class="col-2" style="width: 50%;">

    </div>
</div>