<app-navbar2></app-navbar2>

<body>
    <div class="row" style="width: 100%;height: 100vh;">
        <div class="col-1" style="background-color: rgb(255, 255, 255);width: 50%;">

        </div>
        <div class="col-2" style="width: 50%;">
            <div class="card" style="width: 60%;height: 80vh;margin: 18%;border-radius: 50px;">
                <form #signupForm="ngForm" (ngSubmit)="registerUser()">
                    <h2>Sign up for a new Account</h2>
                    <br>
                    <input type="text" ngModel name="username" placeholder="Username">
                    <br>
                    <input type="text" ngModel name="email" placeholder="Email">
                    <br>
                    <input type="text" ngModel name="password" placeholder="Password">
                    <br>
                    <button type="submit">Login</button>
                    <p>Don't have an account?</p>
                    <a routerLink="/login">Register here</a>
                </form>

            </div>
        </div>
    </div>
</body>